@CHARSET "UTF-8";

#mvc h1{ color:green; 
 text-align: center;} 

#mvc table{margin: auto; 
           border-collapse: collapse;}
#mvc td{border-style: solid; 
        border-width: 1px; 
        text-align: center; 
        border-collapse: collapse;}
#mvc th{border-style: solid; 
        border-width: 1px; 
        text-align: center; 
        border-collapse: collapse;
        background: #CFC}
       
#mvc tr:nth-child(even) {background: #CCC}
#mvc tr:nth-child(odd) {background: #FFF}

           